header {
  margin-top: 120px;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #007cbf;
  background-image: url("https://www.transparenttextures.com/patterns/dust.png");
}

@media only screen and (min-width: 1024px) {
  header {
    margin: 25px;
    width: 300px;
    border-radius: 25px;
    

  }
}