nav {
  position: fixed;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color:aliceblue;
  padding: 1.5em;
}

.nav-left {
  font-family: "Bungee", sans-serif;
  
}

.nav-right  {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.new-tweet {
  display: flex;
}

@media only screen and (max-width: 1023px) {
  nav {
    background-color: #007cbf;
    background-image: url("https://www.transparenttextures.com/patterns/dust.png");
  }
}
